.vs/Auth.Core/v16/.suo
.vs/Auth.Core/v16/Server/sqlite3/db.lock
.vs/Auth.Core/v16/Server/sqlite3/storage.ide
.vs/Auth.Core/v16/Server/sqlite3/storage.ide-shm
.vs/Auth.Core/v16/Server/sqlite3/storage.ide-wal
Auth.Core/bin/Debug/netstandard2.0/Auth.Core.deps.json
Auth.Core/bin/Debug/netstandard2.0/Auth.Core.dll
Auth.Core/bin/Debug/netstandard2.0/Auth.Core.pdb
Auth.Core/obj/Auth.Core.csproj.nuget.cache
Auth.Core/obj/Auth.Core.csproj.nuget.dgspec.json
Auth.Core/obj/Auth.Core.csproj.nuget.g.props
Auth.Core/obj/Auth.Core.csproj.nuget.g.targets
Auth.Core/obj/project.assets.json
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.AssemblyInfo.cs
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.AssemblyInfoInputs.cache
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.assets.cache
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.csproj.FileListAbsolute.txt
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.csprojAssemblyReference.cache
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.dll
Auth.Core/obj/Debug/netstandard2.0/Auth.Core.pdb
Auth.Core/bin/Debug/Auth.Core.1.0.0.nupkg
Auth.Core/bin/Release/netstandard2.0/Auth.Core.deps.json
Auth.Core/bin/Release/netstandard2.0/Auth.Core.dll
Auth.Core/bin/Release/netstandard2.0/Auth.Core.pdb
Auth.Core/obj/Debug/Auth.Core.1.0.0.nuspec
Auth.Core/obj/Release/netstandard2.0/Auth.Core.AssemblyInfo.cs
Auth.Core/obj/Release/netstandard2.0/Auth.Core.AssemblyInfoInputs.cache
Auth.Core/obj/Release/netstandard2.0/Auth.Core.assets.cache
Auth.Core/obj/Release/netstandard2.0/Auth.Core.csproj.FileListAbsolute.txt
Auth.Core/obj/Release/netstandard2.0/Auth.Core.dll
Auth.Core/obj/Release/netstandard2.0/Auth.Core.pdb
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.pdb
Auth.core/Auth.Core/bin/Debug/netstandard2.0/Auth.Core.deps.json
Auth.core/Auth.Core/bin/Debug/Auth.Core.1.0.0.nupkg
Auth.core/Auth.Core/bin/Debug/netstandard2.0/Auth.Core.dll
Auth.core/Auth.Core/bin/Debug/netstandard2.0/Auth.Core.pdb
Auth.core/Auth.Core/bin/Release/netstandard2.0/Auth.Core.deps.json
Auth.core/Auth.Core/bin/Release/netstandard2.0/Auth.Core.dll
Auth.core/Auth.Core/bin/Release/netstandard2.0/Auth.Core.pdb
Auth.core/Auth.Core/obj/Auth.Core.csproj.nuget.cache
Auth.core/Auth.Core/obj/Auth.Core.csproj.nuget.dgspec.json
Auth.core/Auth.Core/obj/Auth.Core.csproj.nuget.g.props
Auth.core/Auth.Core/obj/Auth.Core.csproj.nuget.g.targets
Auth.core/Auth.Core/obj/project.assets.json
Auth.core/Auth.Core/obj/Debug/Auth.Core.1.0.0.nuspec
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.AssemblyInfo.cs
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.AssemblyInfoInputs.cache
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.assets.cache
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.csproj.FileListAbsolute.txt
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.csprojAssemblyReference.cache
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.dll
Auth.core/Auth.Core/obj/Debug/netstandard2.0/Auth.Core.pdb
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.AssemblyInfo.cs
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.AssemblyInfoInputs.cache
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.assets.cache
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.csproj.FileListAbsolute.txt
Auth.core/Auth.Core/obj/Release/netstandard2.0/Auth.Core.dll
Auth.core/.vs/Auth.Core/v16/Server/sqlite3/db.lock
Auth.core/.vs/Auth.Core/v16/Server/sqlite3/storage.ide
Auth.core/.vs/Auth.Core/v16/Server/sqlite3/storage.ide-shm
Auth.core/.vs/Auth.Core/v16/Server/sqlite3/storage.ide-wal
